<html>

<head>
  <title>Flapper News</title>
  <script src="/src/client/vendors/angular.min.js"></script>
  <script src="/src/client/vendors/angular-ui-router.js"></script>
  <script src="/src/client/vendors/angular-animate.min.js"></script>
  <script src="/src/client/app/app.js"></script>
  <script src="/src/client/app/home/home.controller.js"></script>
  <script src="/src/client/app/nav.controller.js"></script>
  <script src="/src/client/app/authentication/auth.controller.js"></script>
  <script src="/src/client/app/authentication/auth.factory.js"></script>
  <script src="/src/client/app/posts/posts.controller.js"></script>
  <script src="/src/client/app/posts/posts.factory.js"></script>
  <script src="/src/client/app/slider/slider.controller.js"></script>
  <script src="/src/client/app/slider/slider.directive.js"></script>
  <link rel="stylesheet" href="/src/client/vendors/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/src/client/stylesheets/style.css" />
</head>

<body ng-app="flapperNews" ng-controller="HomeCtrl" class="container-fluid">
  <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
  </nav>
  <div ng-controller="SliderController">
    <h1>Slider Using AngularJS</h1>
    <slider images="images" />
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div ui-view></div>
    </div>
  </div>
</body>

</html>
