<html>

<head>
  <title>Flapper News</title>

  <!-- build:css styles/lib.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/app.css -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/.tmp/styles.css">
  <!-- endinject -->
  <!-- endbuild -->

</head>

<body ng-app="flapperNews" ng-controller="HomeCtrl" class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top navbar-custom" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div ng-controller="SliderController">
        <h1 class="page-header">Pictures</h1>
        <slider images="images" />
      </div>
      <div ui-view></div>
    </div>
  </div>

  <!-- build:js js/lib.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js js/app.js -->
  <!-- inject:js -->
  <script src="/src/client/app/app.js"></script>
  <script src="/src/client/app/authentication/auth.config.js"></script>
  <script src="/src/client/app/authentication/auth.controller.js"></script>
  <script src="/src/client/app/authentication/auth.factory.js"></script>
  <script src="/src/client/app/home/home.config.js"></script>
  <script src="/src/client/app/home/home.controller.js"></script>
  <script src="/src/client/app/layout/nav.controller.js"></script>
  <script src="/src/client/app/posts/posts.config.js"></script>
  <script src="/src/client/app/posts/posts.controller.js"></script>
  <script src="/src/client/app/posts/posts.factory.js"></script>
  <script src="/src/client/app/slider/slider.config.js"></script>
  <script src="/src/client/app/slider/slider.controller.js"></script>
  <script src="/src/client/app/slider/slider.directive.js"></script>
  <!-- endinject -->

  <!-- inject:templates:js -->
  <!-- endinject -->
  <!-- endbuild -->
</body>

</html>
